pipeline/pl_for_act.json
{
	"name": "pl_for_act",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.race_list",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "act_set_seasons",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season_id",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_round",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round_id",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copy_race_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_set_seasons",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "act_set_round",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_result_api",
									"type": "DatasetReference",
									"parameters": {
										"result": {
											"value": "@concat(variables('season_id'),'/',variables('round_id'),'/results.json?limit=10000')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_res_json",
									"type": "DatasetReference",
									"parameters": {
										"dir_path": {
											"value": "@concat('bronze/results/',string(utcnow('yyyyMMdd')))",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(variables('season_id'),'/',variables('round_id'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"race_list": {
				"type": "array"
			}
		},
		"variables": {
			"season_id": {
				"type": "String"
			},
			"round_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}